<div class="card mb-3" id="{{_id}}">
    <div class="card-header">
        <div>
            <a href="/post/{{_id}}"><strong>{{title}}</strong></a>
            {{#each tags}}
                <a href="/tag/{{tag_name}}" class="badge badge-warning badge-pill">{{tag_name}}</a>
            {{/each}}
        </div>
        <p class="m-0 p-0"><span>Posted by <a href="/profile/{{username}}">@{{username}}</a> {{date}}</span></p>
    </div>
    <div class="card-body">
        <span class="collapse">
            {{general}}
        </span>
        <a href="#{{_id}}>.card-body>span" class="collapsed" role="button" data-toggle="collapse"></a>
    </div>
    <div class="card-footer">
        <div class="btn-group">
            <button type="button" class="btn btn-warning upvote" onclick="updateUpvote('post-001')"> <i class="fa fa-toggle-up"></i> <span>2</span> </button>
            <button type="button" class="btn btn-warning downvote" onclick="updateDownvote('post-001')"> <i class="fa fa-toggle-down"></i> <span>1</span> </button>
            <button type="button" class="btn btn-warning" name="button" onclick="location.href='post-1.html';"><i class="fa fa-comment"> 3 </i></button>
        </div>
    </div>
</div>
