<div class="card mb-3" id="{{_id}}">
    <div class="card-header">
        <div>
            <a href="/post/{{_id}}"><strong>{{title}}</strong></a>
            {{#each tags}}
                <a href="/tag/{{this}}" class="badge badge-warning badge-pill">{{this}}</a>
            {{/each}}
        </div>
        <p class="m-0 p-0"><span>Posted by <a href="/profile/{{username}}">@{{username}}</a> on {{date}}</span></p>
    </div>
    <div class="card-body">
        <span class="collapse">
            <div class="mb-3">
                {{#if plot}}
                    <h5>Plot</h5>
                    <div class="border p-3" id="charContent">
                        <p>{{plot}}</p>
                    </div>
                {{/if}}
            </div>
            <div class="mb-3">
                {{#if characters}}
                    <h5>Characters</h5>
                    <div class="border p-2" id="charContent">
                        <p>{{characters}}</p>
                    </div>
                {{/if}}
            </div>
            <div>
                {{#if setting}}
                    <h5>Setting</h5>
                    <div class="border p-2" id="charContent">
                        <p>{{setting}}</p>
                    </div>
                {{/if}}
            </div>
        </span>
        <a href="#{{_id}}>.card-body>span" class="collapsed" role="button" data-toggle="collapse"></a>

    </div>
    <div class="card-footer">
        <div class="btn-group">
            <button type="button" class="btn btn-warning upvote" onclick="updateUpvote('{{_id}}')"> <i class="fa fa-toggle-up"></i> <span>{{upvotes.length}}</span> </button>
            <button type="button" class="btn btn-warning downvote" onclick="updateDownvote('{{_id}}')"> <i class="fa fa-toggle-down"></i> <span>{{downvotes.length}}</span> </button>
            <button type="button" class="btn btn-warning" name="button" onclick="location.href='/post/{{_id}}';"><i class="fa fa-comment"> {{comments}} </i></button>
        </div>
    </div>
</div>
