<div class="card mb-3" id="{{type}}-post-{{_id}}">
    <div class="card-header">
        <div>
            <a href="/post/{{_id}}"><strong>{{title}}</strong></a>
            {{#each tags}}
                <a href="/tag/{{this}}" class="badge badge-warning badge-pill">{{this}}</a>
            {{/each}}
        </div>
        <p class="m-0 p-0"><span>Posted by <a href="/profile/{{username}}">@{{username}}</a> on {{formatDate date}}</span></p>
    </div>
    <div class="card-body">
        <span class="collapse">
            {{#if plot}}
                <div class="mb-3">
                    <h5>Plot</h5>
                    <div class="border p-3">
                        <span>{{formatText plot}}</span>
                    </div>
                </div>
            {{/if}}
            {{#if characters}}
                <div class="mb-3">
                    <h5>Characters</h5>
                    <div class="border p-3">
                        <span>{{formatText characters}}</span>
                    </div>
                </div>
            {{/if}}
            {{#if setting}}
                <div>
                    <h5>Setting</h5>
                    <div class="border p-3">
                        <span>{{formatText setting}}</span>
                    </div>
                </div>
            {{/if}}
        </span>
        <a href="#{{type}}-post-{{_id}}>.card-body>span" class="collapsed" role="button" data-toggle="collapse"></a>

    </div>
    <div class="card-footer">
        <div class="btn-group">
            <button type="button" class="btn btn-warning upvote" onclick="updateUpvote('{{type}}-post-{{_id}}')"> <i class="fa fa-toggle-up"></i> <span>{{upvotes.length}}</span> </button>
            <button type="button" class="btn btn-warning downvote" onclick="updateDownvote('{{type}}-post-{{_id}}')"> <i class="fa fa-toggle-down"></i> <span>{{downvotes.length}}</span> </button>
            <button type="button" class="btn btn-warning" name="button" onclick="location.href='/post/{{_id}}';"><i class="fa fa-comment"> {{comments}} </i></button>
        </div>
    </div>
</div>
