<!DOCTYPE html>
<html>
    <head>
        <title>Writer's Kiln | Create Comment</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <link rel="stylesheet" href="/css/comment.css">
        <script src="/js/validator.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="/js/comment.js"></script>
        <script type="text/javascript" src="/js/status.js"></script>
    </head>
    <body>
        {{#if username}}
            {{> navbaruser}}
        {{else}}
            {{> navbarvisitor}}
        {{/if}}

        <div class="container-xl pt-5 mt-5 shadow-lg mb-5 bg-body">
            <h2 class="mb-4 border-bottom pb-3 mt-3 pr-4 pl-5"> <a href="../post/{{post._id}}"><i class="fa fa-arrow-left" aria-hidden="true"></i></a> Create Comment</h2>
            <form class="d-flex h-100 flex-column ml-5 mt-3 pl-3 mx-auto w-75" onsubmit="return checkSubmit()" action="{{post._id}}" method="post">
                <div class="form-group">
                    <label for="comment"><h5>Replying to {{post.username}}'s Post</h5></label>
                    <textarea class="form-control" id="comment" name="comment" rows="9" placeholder="Enter comment here"></textarea>
                    <em><p id="error" class="text-danger">{{error}}</p></em>
                    <div class="d-flex flex-row-reverse mt-3">
                        <button type="submit" class="btn btn-warning mb-4 mt-2 w-25"><strong>Create Comment</strong></button>
                    </div>
                </div>
            </form>
        </div>


    </body>
</html>
