<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <title>Writer's Kiln | Create Post</title>
    <meta name="author" content="CHUA, John Vincent C. & USON, Josh Aaron Khyle S.">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="/css/create-post.css">
    <script src="/js/validator.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/js/status.js"></script>
    <script type="text/javascript" src="/js/create-post.js"></script>
</head>
<body>
    {{#if username}}
    {{> navbaruser}}
    {{else}}
    {{> navbarvisitor}}
    {{/if}}

    <!--Main container-->
    <div class="container-xl pt-5 mt-5 shadow-lg mb-5 bg-body">
        <h2 class="mb-4 border-bottom pb-3 mt-3 pr-4 pl-5"> <a href="../post/{{_id}}"><i class="fa fa-arrow-left" aria-hidden="true"></i></a> Edit Post</h2>
        <form class="d-flex h-100 flex-column ml-5 mt-3 pl-3 mx-auto w-75" onsubmit="return checkUpdate()" action="/edit-post-{{typeredirect}}/{{_id}}" method="post" enctype="multipart/form-data">
            <!--Literary Title-->
            <div class="form-group">
                <label for="title"><h5>Title</h5></label>
                <input type="text" class="form-control" placeholder="Enter Post Title" id="title" name="title" value="{{title}}">
            </div>

            <!--Button for followed tags Modal-->
            <div class="form-group">
                <label for="tags"><h5>Select Tags</h5></label>
                <input type="text" class="form-control" placeholder='Separate tags with spaces - (e.g., "Horror Action Adventure Post-Apocalyptic")' id="tags" name="tags" value="{{#each tags}}{{this}} {{/each}}">
            </div>

            <!--General-->
            {{#if genBool}}
            <h5 class="mb-3">General</h5>
            <div class="form-group contents" id="generalType">
                <textarea class="form-control" id="genContent" name="genContent" rows="9" placeholder="Enter content here">{{general}}</textarea>
            </div>

            <!--Story-->
            {{else if storyBool}}
            <h5 class="mb-4 pb-2 border-bottom">Story</h5>
            <div class="form-group contents" id="storyType">
                <h5>Plot</h5>
                <textarea class="form-control" id="plotContent" name="plotContent" rows="9" placeholder="Enter story here">{{plot}}</textarea>
            </div>
            <div class="d-flex flex-row">
                <div class="form-group w-50">
                    <h5>Characters</h5>
                    <textarea class="form-control mr-3" id="charContent" name="charContent" rows="9" placeholder="Enter characters here">{{characters}}</textarea>
                </div>
                <div class="form-group w-50">
                    <h5 class="ml-3">Setting</h5>
                    <textarea class="form-control ml-3" id="settingContent" name="settingContent" rows="9" placeholder="Enter setting here">{{setting}}</textarea>
                </div>
            </div>

            <!--Media-->
            {{else if mediaBool}}
            <h5 class="mb-3">Media</h5>
            <!--Thumbnail-->
            <div class="form-group contents" id="mediaType">
                <input type="file" class="form-control-file mb-3" id="media" name ="media" accept="image/*">
                <!-- <img src="/images/blank.jpg" class="img-thumbnail mb-2 mt-0" alt="thumbnail"> -->
            </div>
            {{/if}}

            <em><p id="error" class="text-danger">{{error}}</p></em>
            <!--Update Confirm-->
            <div class="d-flex flex-row-reverse mt-3">
                <button type="submit" class="btn btn-warning mb-4 mt-2 w-25"><strong>Update Post</strong></button>
                <!--Delete Post-->
                <button class="btn btn-danger mb-4 mt-2 w-25 mr-3" type="button" name="button" name="deletePost" data-toggle="modal" data-target="#delModal"><strong>Remove Post</strong></button>
                <!--Modal-->
                <div class="modal fade" id="delModal" tabindex="-1">
                    <div class="modal-dialog modal modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="tagsModalLabel">Delete Post</h5>
                            </div>
                            <div class="modal-body">
                                <p>This post will be removed permanently. Are you sure you want to remove this post?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
                                <a href="../delete-post/{{_id}}" type="button" class="btn btn-danger">Confirm</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>
