<!DOCTYPE html>
<html>
    <head>
        <title>Writer's Kiln | Post</title>
        <meta name="author" content="CHUA, John Vincent C. & USON, Josh Aaron Khyle S.">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <link rel="stylesheet" type="text/css" href="../css/post.css">

        <script type="text/javascript" src="../js/post.js"></script>
        <script type="text/javascript" src="../js/status.js"></script>

    </head>

    <body>
        {{#if username}}
            {{> navbaruser}}
        {{else}}
            {{> navbarvisitor}}
        {{/if}}

        <div class="container-xl px-5 pb-4" style="background-color:#F6F6F2; padding-top: 100px;">
            <div class="card mb-3" id="post-{{post._id}}">
                <div class="card-header">
                    <div>
                        <span class="h5 mr-1"><strong>{{post.title}}</strong></span>
                        {{#each post.tags}}
                            <a href="/tag/{{this}}" class="badge badge-warning badge-pill">{{this}}</a>
                        {{/each}}
                        {{#equals username post.username}}
                        <div class="dropdown float-right">
                            <button type="button" class="btn rounded" data-toggle="dropdown">
                                <span><i class="fa fa-ellipsis-v"></i></span>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="/edit-post/{{post._id}}">Edit Post</a>
                                <a class="dropdown-item" href="/delete-post/{{post._id}}">Delete Post</a>
                            </div>
                        </div>
                        {{/equals}}
                    </div>

                    <p class="m-0 p-0"><span>Posted by <a href="/profile/{{post.username}}">@{{post.username}}</a> on {{formatDate post.date}}</span></p>
                </div>
                <div class="card-body">
                    {{#if post.general}}
                        <div>
                            <span>{{formatText post.general}}</span>
                        </div>
                    {{/if}}

                    {{#if post.plot}}
                        <div class="mb-3">
                            <h5>Plot</h5>
                            <div class="border p-3">
                                <span>{{formatText post.plot}}</span>
                            </div>
                        </div>
                    {{/if}}

                    {{#if post.characters}}
                        <div class="mb-3">
                            <h5>Characters</h5>
                            <div class="border p-3">
                                <span>{{formatText post.characters}}</span>
                            </div>
                        </div>
                    {{/if}}

                    {{#if post.setting}}
                        <div>
                            <h5>Setting</h5>
                            <div class="border p-3">
                                <span>{{formatText post.setting}}</span>
                            </div>
                        </div>
                    {{/if}}

                    {{#if post.media}}
                        <div class="p-3 border">
                            <img src="data:image/{{post.media.contentType}};base64,{{showImage post.media.data}}" style="width: 100%">
                        </div>
                    {{/if}}

                </div>
                <div class="card-footer">
                    <div class="btn-group">
                        <button type="button" class="btn btn-warning upvote" onclick="updatePostUpvote('{{post._id}}')"> <i class="fa fa-toggle-up"></i> <span>{{post.upvotes.length}}</span> </button>
                        <button type="button" class="btn btn-warning downvote" onclick="updatePostDownvote('{{post._id}}')"> <i class="fa fa-toggle-down"></i> <span>{{post.downvotes.length}}</span> </button>
                    </div>
                    <span class="ml-1 h6 align-middle" id = "post-comment"><i class="fa fa-comment mr-1"></i><span>{{post.comments}}</span> Comments</span>
                </div>
            </div>

            <button type="button" class="btn btn-warning w-100 mb-3 rounded-pill create" onclick="location.href='/create-comment/{{post._id}}'"><span class="h5">Add a Comment</span></button>
            <!-- Comment 1 -->
            {{#each comments}}
                <div class="media border-left p-3" id="comment-{{_id}}">
                    <img src="{{profile_picture}}" class= "rounded-circle align-self-start mr-3">
                    <div class="media-body">
                        <span><a href="profile-2.html">{{username}}</a><span>
                        <span>posted on {{formatDate date}}</span>
                        {{#equals ../username username}}
                            <div class="dropdown float-right modify">
                                <button type="button" class="btn rounded" data-toggle="dropdown">
                                    <span><i class="fa fa-ellipsis-v"></i></span>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="/edit-comment/{{_id}}">Edit Comment</a>
                                    <a class="dropdown-item" onclick="deleteComment('{{_id}}')">Delete Comment</a>
                                </div>
                            </div>
                        {{/equals}}
                        <p>{{content}}</p>
                        <div class="btn-group btn-group-sm">
                            <button type="button" class="btn btn-warning upvote" onclick="updateCommentUpvote('{{_id}}')"> <i class="fa fa-toggle-up"></i> <span>{{upvotes.length}}</span> </button>
                            <button type="button" class="btn btn-warning downvote" onclick="updateCommentDownvote('{{_id}}')"> <i class="fa fa-toggle-down"></i> <span>{{downvotes.length}}</span> </button>
                            <!-- <button type="button" class="btn btn-warning create" onclick="location.href='/create-comment/{{_id}}'"> <i class="fa fa-comment mr-1"></i>Reply</button> -->
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </body>
</html>
