<!DOCTYPE html>
<html>
    <head>
        <title>Writer's Kiln | Post</title>
        <meta name="author" content="CHUA, John Vincent C. & USON, Josh Aaron Khyle S.">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <link rel="stylesheet" type="text/css" href="../css/post.css">

        <script type="text/javascript" src="../js/post.js"></script>
        <script type="text/javascript" src="../js/status.js"></script>

    </head>

    <body>
        {{#if username}}
            {{> navbaruser}}
        {{else}}
            {{> navbarvisitor}}
        {{/if}}

        <div class="container-xl px-5 pb-4" style="background-color:#F6F6F2; padding-top: 100px;">
            <div class="card mb-3" id="post-{{post._id}}">
                <div class="card-header">
                    <div>
                        <span class="h5 mr-1"><strong>{{post.title}}</strong></span>
                        {{#each post.tags}}
                            <a href="/tag/{{this}}" class="badge badge-warning badge-pill">{{this}}</a>
                        {{/each}}
                        <div class="dropdown float-right modify">
                            <button type="button" class="btn rounded" data-toggle="dropdown">
                                <span><i class="fa fa-ellipsis-v"></i></span>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="/edit-post/{{_id}}">Edit Post</a>
                                <a class="dropdown-item" href="/feed">Delete Post</a>
                            </div>
                        </div>
                    </div>

                    <p class="m-0 p-0"><span>Posted by @<a href="/profile/{{post.username}}">{{post.username}}</a> on {{post.date}}</span></p>
                </div>
                <div class="card-body">
                    {{#if post.general}}
                        <p>{{post.general}}</p>
                    {{/if}}

                    {{#if post.plot}}
                        <div class="mb-3">
                            <h5>Plot</h5>
                            <div class="border p-3">
                                <p>{{post.plot}}</p>
                            </div>
                        </div>
                    {{/if}}

                    {{#if post.characters}}
                        <div class="mb-3">
                            <h5>Characters</h5>
                            <div class="border p-3">
                                <p>{{post.characters}}</p>
                            </div>
                        </div>
                    {{/if}}

                    {{#if post.media}}
                        <div class="p-3 border">
                            <img src="/images/post-5-img.jpg" style="width: 100%">
                        </div>
                    {{/if}}

                </div>
                <div class="card-footer">
                    <div class="btn-group">
                        <button type="button" class="btn btn-warning upvote" onclick="updateUpvote('post-{{_id}}')"> <i class="fa fa-toggle-up"></i> <span>{{post.upvotes.length}}</span> </button>
                        <button type="button" class="btn btn-warning downvote" onclick="updateDownvote('post-{{_id}}')"> <i class="fa fa-toggle-down"></i> <span>{{post.downvotes.length}}</span> </button>
                    </div>
                    <span class="ml-1 h6 align-middle"><i class="fa fa-comment mr-1"></i>{{post.comments}} Comments</span>
                </div>
            </div>

            <button type="button" class="btn btn-warning w-100 mb-3 rounded-pill create" onclick="location.href='/create-comment/{{post._id}}'"><span class="h5">Add a Comment</span></button>
            <!-- Comment 1 -->
            <div class="media border-left p-3" id="comment-001">
                <img src="../../images/prof-pic-2.jpg" class= "rounded-circle align-self-start mr-3">
                <div class="media-body">
                    <span><a href="profile-2.html">GeorgeOrwell</a><span>
                    <span>posted on {{date}}</span>
                    <p>Cool post! Thanks for sharing.</p>
                    <div class="btn-group btn-group-sm">
                        <button type="button" class="btn btn-warning upvote" onclick="updateUpvote('comment-001')"> <i class="fa fa-toggle-up"></i> <span>3</span> </button>
                        <button type="button" class="btn btn-warning downvote" onclick="updateDownvote('comment-001')"> <i class="fa fa-toggle-down"></i> <span>1</span> </button>
                        <button type="button" class="btn btn-warning create" onclick="location.href='create-comment-1.html'"> <i class="fa fa-comment mr-1"></i>Reply</button>
                    </div>

                    <!-- Comment 2 (Nested) -->
                    <div class="media border-left pt-3 pr-0 pl-3" id="comment-002">
                        <img src="../../images/prof-pic-1.jpg" class="rounded-circle align-self-start mr-3">
                        <div class="media-body">
                            <span><a href="profile-1.html">H.P.Lovecraft</a></span>
                            <span>posted 43 minutes ago</span>
                            <div class="dropdown float-right modify">
                                <button type="button" class="btn rounded" data-toggle="dropdown">
                                    <span><i class="fa fa-ellipsis-v"></i></span>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="edit-comment-2.html">Edit Comment</a>
                                    <a class="dropdown-item" onclick="deleteComment('comment-002')">Delete Comment</a>
                                </div>
                            </div>
                            <p>You're welcome for the very cool post ;)</p>
                            <div class="btn-group btn-group-sm">
                                <button type="button" class="btn btn-warning upvote" onclick="updateUpvote('comment-002')"> <i class="fa fa-toggle-up"></i> <span>1</span> </button>
                                <button type="button" class="btn btn-warning downvote" onclick="updateDownvote('comment-002')"> <i class="fa fa-toggle-down"></i> <span>0</span> </button>
                                <button type="button" class="btn btn-warning create" onclick="location.href='create-comment-1.html'"> <i class="fa fa-comment mr-1"></i>Reply</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            updateClickables();
        </script>
    </body>
</html>
