<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <title>Writer's Kiln | Profile</title>
        <meta name="author" content="CHUA, John Vincent C. & USON, Josh Aaron Khyle S.">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <link rel="stylesheet" href="/css/profile.css">

        <script type="text/javascript" src="/js/profile.js"></script>
        <script type="text/javascript" src="/js/status.js"></script>

    </head>
    <body>

        {{#if username}}
            {{> navbaruser}}
        {{else}}
            {{> navbarvisitor}}
        {{/if}}

        <!--Main container-->
        <div class="container-xl pt-5 mt-5 shadow-lg mb-5 bg-body rounded">

            <div class="row ml-3 mr-3">
                <!--Column 1-->
                <div class="col-4">
                    <!--Profile Pic-->
                    <div class="card rounded-0 border-bottom-0">
                        <img src="data:image/{{user.profile_picture.contentType}};base64,{{showImage user.profile_picture.data}}" class="card-img-top">
                        <!-- <img src="{{user.profile_picture}}" class="card-img-top"> -->
                        <div class="card-body p-3">
                            <h4 class="card-text mb-0" id="prof-name">{{user.username}}</h4>
                            <p class="text-muted text-center mb-0">{{user.fullname}}</p>
                        </div>
                    </div>
                    <ul class="list-group">
                        <!--Button for followed users Modal-->
                        <li class="list-group-item rounded-0 border-bottom-0">
                            <button class="btn p-0 m-0" type="button" name="followedUserBtn" data-toggle="modal" data-target="#usersModal">Followed users: {{followed_users.length}}</button>
                        </li>
                        <!--Modal-->
                        <div class="modal fade" id="usersModal" tabindex="-1">
                            <div class="modal-dialog modal modal-dialog-centered modal-dialog-scrollable">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="usersModalLabel">Followed Users</h5>
                                    </div>
                                    <!--List of followed users-->

                                    <div class="modal-body p-4">
                                        <!--User-->
                                        {{#if user.privacy}}
                                            <p class="text-muted"><em>This user set their profile to private. You have to be following them to see additional profile information.</em></p>
                                        {{else}}
                                            {{#each followed_users}}
                                            <div class="d-flex border-bottom position-relative ml-0 mr-0 f-users" id="user-{{_id}}">
                                                <div class="flex-shrink-1">
                                                    <img src="data:image/{{profile_picture.contentType}};base64,{{showImage profile_picture.data}}" alt="">
                                                </div>
                                                <div class="flex-grow-1 ms-3 ml-2 mt-2">
                                                    <h6 class="mb-0">{{username}}</h6>
                                                    <p class="text-muted">{{fullname}}</p>
                                                    <a href="/profile/{{username}}" class="stretched-link"></a>
                                                </div>
                                                <div class="pt-2 pr-2">
                                                    {{#notEquals ../username username}}
                                                    <button type="button" class="btn btn-outline-warning rounded-pill follow" onclick="updateFollowedUsers('{{_id}}')"> <span><strong>Follow</strong></span></button>
                                                    {{/notEquals}}
                                                </div>
                                            </div>
                                            {{/each}}
                                        {{/if}}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Button for followed tags Modal-->
                        <li class="list-group-item rounded-0">
                            <button class="btn p-0 m-0" type="button" name="button" name="followedTagsBtn" data-toggle="modal" data-target="#tagsModal">Followed tags: {{user.followed_tags.length}}</button>
                        </li>
                        <!--Modal-->
                        <div class="modal fade" id="tagsModal" tabindex="-1">
                            <div class="modal-dialog modal modal-dialog-centered modal-dialog-scrollable">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="tagsModalLabel">Followed Tags</h5>
                                    </div>
                                    <!--List of followed tags-->
                                    <div class="modal-body p-4">
                                        <!--Tag #1-->
                                        {{#if user.privacy}}
                                            <p class="text-muted"><em>This user set their profile to private. You have to be following them to see additional profile information.</em></p>
                                        {{else}}
                                            {{#each user.followed_tags}}
                                            <div class="d-flex border-bottom position-relative ml-0 mr-0 f-tags" id="tag-{{this}}">
                                                <div class="flex-grow-1 ms-3 ml-2">
                                                    <h6 class="mt-2 ml-2 pt-1 mb-2">{{this}}</h6>
                                                    <a href="/tag/{{this}}" class="stretched-link"></a>
                                                </div>
                                                <div class="pt-1 pb-1 pr-2">
                                                    <button type="button" class="btn btn-outline-warning rounded-pill follow" onclick="updateFollowedTags('{{this}}')"> <span><strong>Follow</strong></span> </button>
                                                </div>
                                            </div>
                                            {{/each}}
                                        {{/if}}
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ul>

                    <!--Featured Works-->
                    <div id="feat-works" class="d-flex flex-column p-4 mt-4 border">
                        <h4 class="text-center">Featured Works</h4>
                        <div class="scroll">
                            {{#if user.privacy}}
                                <p class="text-muted"><em>This user set their profile to private. You have to be following them to see additional profile information.</em></p>
                            {{else}}
                                {{#each user.featured_works}}
                                <div class="d-flex border-top position-relative">
                                    <div class="flex-shrink-1">
                                        <img src="data:image/{{image.contentType}};base64,{{showImage image.data}}" alt="">
                                    </div>
                                    <div class="flex-grow-1 ms-3 ml-2 mt-2 p-1">
                                        <h6>{{title}}</h6>
                                        {{synopsis}}
                                        <a href="{{url}}" class="stretched-link"></a>
                                    </div>
                                </div>
                                {{/each}}
                            {{/if}}
                        </div>
                    </div>

                    <!--Favorite Literary Works-->
                    <div class="card mt-4 mb-5 p-4">
                        <h4 class="card-title text-center">Favorite Literary Works</h4>
                        <div id="fav-works" class="card-body p-0 mt-0 scroll">
                            <ul class="list-group list-group-flush">
                                <div class="">
                                    {{#if user.privacy}}
                                        <p class="text-muted"><em>This user set their profile to private. You have to be following them to see additional profile information.</em></p>
                                    {{else}}
                                        {{#each user.favorite_works}}
                                        <li class="list-group-item pl-3 pr-0">{{this}}</li>
                                        {{/each}}
                                    {{/if}}
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>

                <!--Column 2-->
                <div class="col-8">
                    <!--Profile Description-->
                    <div class="d-flex flex-column flex-shrink-1 border p-4">
                        <div class="d-flex border-bottom align-items-center justify-content-between mb-3" id="user-{{user._id}}">
                            <h2 class="m-0 d-inline" id="tag-label">About Me</h1>
                            {{#notEquals username user.username}}
                            <button type="button" class="btn btn-outline-warning rounded-pill follow m-2" id="follow-user-btn" onclick="updateFollowedUsers('{{user._id}}')"> <span><strong>Follow</strong></span> </button>
                            {{/notEquals}}
                        </div>
                        {{#if user.privacy}}
                            <p class="text-muted"><em>This user set their profile to private. You have to be following them to see additional profile information.</em></p>
                        {{else}}
                            <p>{{user.about_me}}</p>
                        {{/if}}
                    </div>

                    <!--Comments and Posts-->
                    <div id="content" class="d-flex mt-4 border">
                        <div class="card-body">
                            <h4 class="card-title mb-3 border-bottom pb-2">Recent Posts</h4>
                            <div class="scroll user-content">
                                {{#if user.privacy}}
                                    <p class="text-muted"><em>This user set their profile to private. You have to be following them to see additional profile information.</em></p>
                                {{else}}
                                    {{#each posts}}
                                    <!--Post-->
                                    <div class="card p-2 mb-2 text-white bg-warning text-dark">
                                        <div class="card-title mb-0">
                                            <h6><em><a href="/post/{{_id}}" class="post-link">{{username}} Posted on {{formatDate date}}</a></em></h6>
                                        </div>
                                        <div class="card-text">
                                            <span>{{title}}</span>
                                        </div>
                                    </div>
                                    {{/each}}
                                {{/if}}
                            </div>
                            <h4 class="card-title mt-3 mb-3 border-bottom pb-2">Recent Comments</h4>
                            <div class="scroll user-content">
                                {{#if user.privacy}}
                                    <p class="text-muted"><em>This user set their profile to private. You have to be following them to see additional profile information.</em></p>
                                {{else}}
                                    {{#each comments}}
                                    <!--Comment-->
                                    <div class="card p-2 mb-2 bg-light">
                                        <div class="card-title mb-0">
                                            <h6><em><a href="/post/{{parentID}}#{{_id}}" class="post-link">{{username}} Commented on {{formatDate date}}</a></em></h6>
                                        </div>
                                        <div class="card-text">
                                            <span>{{formatText content}}</span>
                                        </div>
                                    </div>
                                    {{/each}}
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
