<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <title>Writer's Kiln | Profile</title>
        <meta name="author" content="CHUA, John Vincent C. & USON, Josh Aaron Khyle S.">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <link rel="stylesheet" href="../css/profile.css">

        <script type="text/javascript" src="../js/profile.js"></script>
        <script type="text/javascript" src="../js/status.js"></script>

    </head>
    <body>
        <nav class="navbar fixed-top navbar-expand bg-outline-warning navbar-outline-warning shadow-sm" id="main-nav">
            <a class="navbar-brand mr-auto" href="index.html">
                <img src="../../../images/logo.png" alt="logo" style="width: 40px">
                <h3 class="d-inline align-middle" id="navbar-name">Writer's Kiln</h3>
            </a>

            <form class="form-inline ml-auto mr-auto" action="search-results.html" method="post">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search">
                    <div class="input-group-prepend">
                        <button type="submit" class="btn btn-warning"><i class="fa fa-search"></i></button>
                        <button type="button" class="btn dropdown-toggle btn-outline-warning" data-toggle="dropdown"></button>

                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="advanced-search.html">Advanced Search</a>
                        </div>
                    </div>
                </div>
            </form>

            <ul class="navbar-nav ml-auto">
                <li class="nav-item mr-3">
                    <a href="feed.html" class="btn btn-warning" role="button"><i class="fa fa-home"></i></a>
                </li>
                <li class="nav-item mr-3">
                    <a href="sign-in.html" class="btn btn-warning" role="button">Sign In</a>
                </li>
                <li class="nav-item">
                    <a href="sign-up.html" class="btn btn-warning" role="button">Sign Up</a>
                </li>
            </ul>
        </nav>

        <script>
            checkStatus();
        </script>
        <!--Main container-->
        <div class="container-xl pt-5 mt-5 shadow-lg mb-5 bg-body rounded">

            <div class="row ml-3 mr-3">
                <!--Column 1-->
                <div class="col-4">
                    <!--Profile Pic-->
                    <div class="card rounded-0 border-bottom-0">
                        <img src="{{profpic}}" class="card-img-top">
                        <div class="card-body p-3">
                            <h4 class="card-text mb-0" id="prof-name">{{username}}</h4>
                            <p class="text-muted text-center mb-0">{{realname}}</p>
                        </div>
                    </div>
                    <ul class="list-group">
                        <!--Button for followed users Modal-->
                        <li class="list-group-item rounded-0 border-bottom-0">
                            <button class="btn p-0 m-0" type="button" name="followedUserBtn" data-toggle="modal" data-target="#usersModal">Followed users: {{fu-count}}</button>
                        </li>
                        <!--Modal-->
                        <div class="modal fade" id="usersModal" tabindex="-1">
                            <div class="modal-dialog modal modal-dialog-centered modal-dialog-scrollable">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="usersModalLabel">Followed Users</h5>
                                    </div>
                                    <!--List of followed users-->

                                    <div class="modal-body p-0">
                                        <!--User-->
                                        {{#each fus}}
                                        <div class="d-flex border-bottom position-relative ml-0 mr-0 f-users" id="{{fu-id}}">
                                            <div class="flex-shrink-1">
                                                <img src="{{fu-pic}}" alt="">
                                            </div>
                                            <div class="flex-grow-1 ms-3 ml-2 mt-2">
                                                <h6 class="mb-0">{{fu-username}}</h6>
                                                <p class="text-muted">{{fu-realname}}</p>
                                                <a href="profile-2.html" class="stretched-link"></a>
                                            </div>
                                            <div class="pt-2 pr-2">
                                                <button type="button" class="btn btn-warning rounded-pill follow" onclick="updateFollow('{{fu-id}}')"> <span><strong>{{fu-status}}</strong></span></button>
                                            </div>
                                        </div>
                                        {{/each}}
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Button for followed tags Modal-->
                        <li class="list-group-item rounded-0">
                            <button class="btn p-0 m-0" type="button" name="button" name="followedTagsBtn" data-toggle="modal" data-target="#tagsModal">Followed tags: {{tag-count}}</button>
                        </li>
                        <!--Modal-->
                        <div class="modal fade" id="tagsModal" tabindex="-1">
                            <div class="modal-dialog modal modal-dialog-centered modal-dialog-scrollable">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="tagsModalLabel">Followed Tags</h5>
                                    </div>
                                    <!--List of followed tags-->
                                    <div class="modal-body p-0">
                                        <!--Tag #1-->
                                        {{#each tags}}
                                        <div class="d-flex border-bottom position-relative ml-0 mr-0 f-tags" id="{{tag-id}}">
                                            <div class="flex-grow-1 ms-3 ml-2">
                                                <h6 class="mt-2 ml-2 pt-1 mb-2">{{tagname}}</h6>
                                                <a href="{{tag-url}}" class="stretched-link"></a>
                                            </div>
                                            <div class="pt-1 pb-1 pr-2">
                                                <button type="button" class="btn btn-warning rounded-pill follow" onclick="updateFollow('{{tag-id}}')"> <span><strong>{{tag-status}}</strong></span> </button>
                                            </div>
                                        </div>
                                        {{/each}}
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ul>

                    <!--Featured Works-->
                    <div class="d-flex flex-column p-0 mt-4 border h-25">
                        <h4 class="text-center pt-3 pb-2">Featured Works</h4>
                        <div class="scroll">
                            {{#each}}
                            <!--Work #1-->
                            <div class="d-flex border-top position-relative">
                                <div class="flex-shrink-1">
                                    <img src="{{feat-img}}" alt="">
                                </div>
                                <div class="flex-grow-1 ms-3 ml-2 mt-2 p-1">
                                    <h6>{{feat-title}}</h6>
                                    {{feat-desc}}
                                    <a href="{{feat-url}}" class="stretched-link"></a>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>

                    <!--Favorite Literary Works-->
                    <div class="card mt-4 mb-5">
                        <h4 class="card-title text-center pt-3 pb-3 border">Favorite Literary Works</h4>
                        <div id="fav-works" class="card-body pt-0 mt-0 scroll">
                            <ul class="list-group list-group-flush">
                                {{#each}}
                                <li class="list-group-item">{{fav-title}}</li>
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                </div>

                <!--Column 2-->
                <div class="col-8">
                    <!--Profile Description-->
                    <div class="d-flex flex-column flex-shrink-1 border p-4">
                        <div class="d-flex border-bottom align-items-center justify-content-between mb-3" id="{{user-id}}">
                            <h2 class="m-0 d-inline" id="tag-label">About Me</h1>
                            <button type="button" class="btn btn-warning rounded-pill follow follow-self m-2" id="follow-user-btn" onclick="updateFollow('{{user-id}}')"> <span><strong>{{user-status}}</strong></span> </button>
                        </div>
                        <p class="pt-2">{{user-desc}}</p>
                    </div>

                    <!--Comments and Posts-->
                    <div class="d-flex mt-4 border h-50">
                        <div class="card-body scroll">
                            <h4 class="card-title mb-3">Posts and Comments</h4>
                                {{#each}}
                                {{#if comment}}
                                <!--Comment-->
                                <div class="card p-2 mb-2 bg-light">
                                    <div class="card-title mb-0">
                                        <a href="post-1.html#comment-003" class="post-link"><h6><em>{{username}} Commented</em></h6></a>
                                    </div>
                                    <div class="card-text">
                                        <p>{{comment}}</p>
                                    </div>
                                </div>
                                {{else}}
                                <!--Post-->
                                <div class="card p-2 mb-2 text-white bg-warning text-dark">
                                    <div class="card-title mb-0">
                                        <a href="post-1.html" class="post-link"><h6><em>{{username}} Posted</em></h6></a>
                                    </div>
                                    <div class="card-text">
                                        <p>{{post}}</p>
                                    </div>
                                </div>
                                {{/if}}
                                {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            updateClickables();
            removeFollowSelf ();
        </script>
    </body>
</html>
